html, body {
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.player-panel {
    background-position: center;
    background-size: 40vw, 40vh;
    background-repeat: no-repeat;
    filter: grayscale(50%);
    height: 85vh;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.small-height {
    height: 5vh;
}

.gray-scale {
    filter: grayscale(75%);
}

.main-body {
    height: 100vh;
    width: 100vw;
    background-image: url('https://media.giphy.com/media/pfjpGYvLMwZ89WOUNz/giphy.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw, 100vh;
}

.noPadMargin {
    padding: 0px !important;
    margin: 0px !important;
}

h3 {
    color: white;
    margin: auto;
}

.ninety {
    height: 85vh;
}

.box {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border-radius: 5px;
    width: 80%;
    margin-top: 20%;
    margin: auto;
    text-align: center;
    vertical-align: bottom;
    padding: 20px 40px;
    z-index: 4;
  }

.fullHeight {
    height: 100%;
}

.redsxred {
    color: white;
    background-color: #BD3039;

}

.outs {
    width:100vw ;display: flex; justify-content: flex-end; align-items: center;
}

.credit {
    margin-top: -10vh !important;
    color: #BD3039;
}

.item {
    margin: auto;
}

.five {
    height: 5vh;
  }

.flexItem {
    text-align: center;
    color: white;
    width: 40vw;
    height: 40vh;
    margin: auto;
}

.selected {
    backdrop-filter:brightness(75%) saturate(140%) !important;
}

.correct {
    background-color: lightgreen;
    filter: opacity(50%);
}

.wrong {
    background-color: lightcoral;
    filter: opacity(50%);
}

.white {
    color: white;
}

.hack {
    margin-top: -85vh;
    margin-right: 0px;
    margin-left: 0px;
    height: 85vh;
    z-index: 10;
}

.dot {
    height: 3vh;
    width: 3vh;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: .2vw;
  }

.right {
    text-align: right;
    margin-top: -4vh !important;
    width: 100vw;
}

.abs {
    position: absolute;
}

.score {
    color: white;
    margin-top: -99.5vh !important;
    position: absolute;
}

container {
    width: 100%;
    padding: 0;
}