<!DOCTYPE html>
<html>
    <head>
        <script>
            let image = {{ image| tojson}}
            let input = {{ input| tojson}}
        </script>
        <style> 
            @font-face {
                font-family: mainFont;
                src: url("static/MLBBLOCK.TTF") format("opentype");
            }
            .center {
                text-align: center !important;
                align-content: center;
            }
            .font {
                font-family: mainFont;
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/c924f650ab.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../static/imageView.js"></script>
        <link rel="stylesheet" href="../static/main.css">
    </head>
    <body class="main-body-new" id="main">
        <a href="/again">
            <h1 class="padded white">Back</h1>
        </a>
        <p class="maxWidthTrace" id="trace"></p>
    </body>
</html>